.buttonForm {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #5CB85C;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #5CB85C;
  align-self: flex-end;

  &:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
  }
}
.logOutType{
  color: #B85C5C;
  background-image: none;
  background-color: transparent;
  border-color: #B85C5C;
  &:hover {
    color: #fff;
    background-color: #B85C5C;
    border-color: #B85C5C;
  }
}

