.header {
  width: 100vw;
  position: relative;
  padding: 0.5rem 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 544px) {
    max-width: 576px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 940px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }

}

.navbarBlock {
  display: flex;
  gap: 1rem;
}